*, *:before, *:after
  box-sizing border-box
  margin 0
html
	font-family "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
  word-spacing 1px
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  box-sizing border-box

::-moz-selection
  background #30373d
  color #fff
  text-shadow rgb(187, 186, 186) 0 0 1px, rgb(255, 255, 251) 0 0 1px, rgb(255, 255, 251) 0 0 2px


::selection
  background #30373d
  color #fff
  text-shadow rgb(187, 186, 186) 0 0 1px, rgb(255, 255, 251) 0 0 1px, rgb(255, 255, 251) 0 0 2px


::-webkit-scrollbar
  width 7px
  height 10px


::-webkit-scrollbar-button
  width 0
  height 0


::-webkit-scrollbar-button:start:increment,
::-webkit-scrollbar-button:end:decrement
  display none


::-webkit-scrollbar-corner
  display block

::-webkit-scrollbar-thumb
  background-image linear-gradient(180deg, #77acdc 0%, #9ec8e0 20%, #fff 70%)


::-webkit-scrollbar-button:start
  height 60px
  background #77acdc

.custom-tip
	z-index 99999 !important
