{
	"presets": ["stage-3"],
	"plugins": [
		"transform-async-to-generator",
		"transform-es2015-modules-commonjs",
		"transform-export-extensions",
		"transform-runtime",
		"syntax-async-functions",
		"babel-plugin-dynamic-import-node",
		"babel-plugin-transform-builtin-extend"
	]
}
